<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a> <!-- <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5"> -->
       
       <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-richtext" viewBox="0 0 16 16">
         <path d="M7 4.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0zm-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V7.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V7s1.54-1.274 1.639-1.208zM5 9a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
         <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
       </svg> -->
         <h1 class="m-0 text-primary"> <i class="bi bi-file-richtext"></i> TeleQuotePro
   
         </h1>
     </a>
     <!-- <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
         <span class="navbar-toggler-icon"></span>
     </button> -->
     <div class="collapse navbar-collapse" id="navbarCollapse">
         <div class="navbar-nav ms-auto p-4 p-lg-0">
             <a  class="nav-item nav-link active" routerLink="/adminHome">Home</a>
             <a  class="nav-item nav-link" routerLink="/addproducts">Add Plans</a>
             <a  class="nav-item nav-link" routerLink="/adminViewProducts">View Plans </a>
             
            
             <!-- <a href="courses.html" class="nav-item nav-link">Sign up</a> -->
             <!-- <div class="nav-item dropdown">
                 <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                 <div class="dropdown-menu fade-down m-0">
                     <a href="team.html" class="dropdown-item">Our Team</a>
                     <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                     <a href="404.html" class="dropdown-item">404 Page</a>
                 </div>
             </div> -->
             <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
       
         <!-- <a  class="nav-item nav-link" routerLink="/searchProducts">Search List</a> -->
        </div>
         <a  class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" routerLink="/logout">Log out<i class="fa fa-arrow-right ms-3"></i></a>
       
        </div>
   </nav>


   <!--Edit form starts-->
   <h1>----------------------Editing on Process!!!!!-------------------------</h1>
   <div class="header home">
  
    <div class="col-lg-6 wow slideInUp" >
        <form #ProductForm="ngForm" (ngSubmit)="onSubmit(ProductForm)">
            <div class="row g-3">  
                <!--name-->
                 <div class="col-md-6">
                    <label for="productName">Plan Name</label>
                    <input type="text" class="form-control border-0 bg-light px-4" name="productName" palceholder="Enter plan name" #productName="ngModel" [(ngModel)]="editProduct.productName"  [value]="editProduct.productName" style="height: 55px;" readonly>
                </div> 
               
             <!--producttype-->
             <div class="col-md-6">
                <label for="productType">Plan Type</label>
                <select type="text" class="form-control border-0 bg-light px-4" name="productType" palceholder="Enter plan Type" #productType="ngModel" [(ngModel)]="editProduct.productType"   style="height: 55px;" >
                <option value="" disabled>Select Product Type</option>
                <option *ngFor="let protype of productTypes" [value]="protype">{{protype}}</option>
                </select>
            </div>
          
  <!--customer type-->

            <div class="col-md-6">
                <label for="customerType">CustomerType</label>
                <select type="text" class="form-control border-0 bg-light px-4" name="customerType" palceholder="Enter customer Type" #customerType="ngModel" [(ngModel)]="editProduct.customerType" style="height: 55px;" >
                <option value="" disabled>Select Customer Type</option>
                <option *ngFor="let custype of customerTypes" [value]="custype">{{custype}}</option>
                </select>
            </div> 

<!--validity-->
<div class="col-md-6">
<label for="validity">Validity</label>
<input type="text" class="form-control border-0 bg-light px-4" name="validity" palceholder="Enter plan validity" #validity="ngModel" [(ngModel)]="editProduct.validity"  [value]="editProduct.validity"  style="height: 55px;" required>
<div *ngIf="validity.errors?.['required'] && (validity.dirty || validity.touched)"
        class="text-danger">Validity is required.
   </div>
</div>
<!-- public features:string[],-->
<!-- <label for="features">Features</label>
<div *ngFor="let feature of features; let i = index">
    <input type="text" [(ngModel)]="feature[i]" placeholder="Feature Name" [value]="feature" > -->
   <!--<label> 
        <input type="checkbox" [(ngModel)]="newProduct.features[i].isChecked" [name]="newProduct.features[i].name">
        {{newProduct.features[i].name }}
    </label>
</div>-->
 



<div class="col-md-6">
<label for="inputField1">Features:</label><br>
<input type="text" id="inputField1" name="inputField1" [(ngModel)]="editProduct.features[0]" required  style="height: 55px;" placeholder="feature1:voice call"  [value]="editProduct.features[0]">
<input type="text" id="inputField2" name="inputField2" [(ngModel)]="editProduct.features[1]"   style="height: 55px;" placeholder="feature2:sms" [value]="editProduct.features[1]">
<input type="text" id="inputField3" name="inputField3" [(ngModel)]="editProduct.features[2]"   style="height: 55px;" placeholder="feature3:data" [value]="editProduct.features[2]">
<input type="text" id="inputField4" name="inputField4" [(ngModel)]="editProduct.features[3]"   style="height: 55px;" placeholder="feature4:others" [value]="editProduct.features[3]">

</div>

 <!--price-->

<div class="col-md-6">
    <div class="row g-3">
    <label for="price">price</label>
    <input type="number" class="form-control border-0 bg-light px-4" name="price" palceholder="Enter product valididty" #price="ngModel" [(ngModel)]="editProduct.price" [value]="editProduct.price" style="height: 55px;" >
   
    <div *ngIf="price.value === '' && (price.dirty || price.touched)" class="text-danger">Price is required.</div>
    <!-- <div *ngIf="price.value !== '' && (price.value ) && (price.dirty || price.touched)" class="text-danger">Price should be a valid number.</div> -->
<div *ngIf="price.value !== ''  && (price.value <= 0) && (price.dirty || price.touched)" class="text-danger">Price should be a positive number.</div>

</div>

</div>





<div class="col-md-6">
    <label for="Subscriptions">Subscriptions</label><br>
    <div *ngFor="let sup of editProduct.subscriptions" class="form-check-inline">
    <label>
    <input class="form-check-input" type="checkbox" value="{{sup}}" name="selectedsubproduct" disabled checked="true"  [value]="sup.subscriptionName">
    {{sup.subscriptionName}}
    </label>
    </div>
    </div>
<div class="col-md-3">
<label for="Subscriptions">Subscriptions</label><br>
<div *ngFor="let sp of subproduct" class="form-check-inline">
<label>
<input class="form-check-input" type="checkbox" value="{{sp}}" name="selectedsubproduct" (change)="onSelectedSubProducts(sp)">
{{sp.subscriptionName}}
</label>
</div>
</div>



<div class="col-12">
    <label for="location">Location</label><br>
    <div *ngFor="let loc of editProduct.locations" class="form-check-inline">
    <label >
      <input class="form-check-input" type="checkbox" value="{{loc}}" name="selectedStates" disabled checked="true"  [value]="loc.locationName">
      {{loc.locationName}}
    </label>
    </div>
    </div> 

<div class="col-12">
<label for="location">Location</label><br>
<div *ngFor="let state of location" class="form-check-inline">
<label >
  <input class="form-check-input" type="checkbox" value="{{state}}" name="selectedStates" (change)="onSelectionChange(state)">
  {{state.locationName}}
</label>
</div>
</div> 

<!-- <p>Selected States: {{ selectedStates }}</p> -->
       
            



 










          <div class="col-6">
            <button class="btn btn-dark w-100 py-3" type="submit" [disabled]="ProductForm.invalid">Edit Product</button>
        </div>
        <div *ngIf="isProductAdded" class="alert alert-success mt-3">
            Product editted successfully!
          </div>
          <div *ngIf="isProductNotAdded" class="alert alert-danger mt-3">
            Product not editted. Please try again.
          </div>
        <div class="col-6">
            <button class="btn btn-dark w-100 py-3" type="reset">Clear</button></div> 

     </div></form> 
</div></div>
<!-- {{editProduct|json}} -->