a{
color: #091E3E;
}
a:hover,
a:active{
color:#06A3DA;
}
/* .header.home {
    margin-bottom: 50px;
    background: url(src/assets/img/customerhomepagebg1.png) center/cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.header.home {
    margin-bottom: 50px;
    /* background: url('src/assets/img/carouselCH1.jpg') center/cover no-repeat; */
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

.header-content {
    flex: 1;
    padding: 0 20px; /* Optional: Add padding to the left content */
    text-align: left; /* Align the content to the left */
}

.header-image {
    width: 600px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-left: auto; /* Push the image to the right */
    margin-right: 20px;
}








